@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}
  
body {
    background-color: #f0f4f5;
    overflow: hidden;
    margin: auto;
    padding: 0 4rem;
}

a{
    text-decoration: none;
    color: black;
}
/* NavBar */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.5rem;
    height: 7rem;
}

nav >img{
    width: 9.4rem;
}

nav > ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li{
    padding: 0 3rem 0 0;
    font-size: 1rem;
    font-weight: 600;
}

/* Home Main */

main{
    display: flex;
    height: 100vh;
}

.leftSection{
    margin-top: 5rem;
    width: 50%;
    padding: 0 3.5rem ;
}

.leftSection h1{
    font-size: 4rem;
}

.rightSection{
    display: flex;
    width: 50%;
}

.doctorImg{
    position: absolute;
    width: 31rem;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.yellowBox{
    width: 29rem;
    position: absolute;
    bottom: 2.5rem;
    right: 0;
    align-self: center;
    z-index: 0;
}

.greenBox{
    width: 33rem;
    position: absolute;
    bottom: 2rem;
    right: 0;
    z-index: -1;
}